@use '../../mixins';
@use '../../variables';

.SearchParameters {
  //display: grid;
  height: 100%;
  width: 100%;
  .SearchParametersHeader {
    @include mixins.h2-header;
  }
  .MuiSelect-icon {
    color: variables.$color-secondary;
  };
  fieldset,
  .ruleGroup {
    background: none;
    border-color: variables.$color-secondary;
  }
}