$font-family-main: monospace, system-ui, Avenir, Helvetica, Arial, sans-serif;

$background-color-main: #2b0165;

$color-primary: #91bcff;
$color-secondary: rgb(249 129 0);

$font-color-primary: #91bcff;
$font-color-secondary: rgb(249 129 0);

$just-test-color: rgb(255, 20, 147);