$font-family-main: monospace, system-ui, Avenir, Helvetica, Arial, sans-serif;
$background-color-main: #2b0165;
$background-color-secondary: white;
$font-color-main: #91bcff;
$font-color-secondary: rgb(249 129 0);